<div class="header-container">
  <img id="hamburger-image" src="assets/img/burger.png" alt="Burger image.">
  <header>Eat-Da-Burger!</header>
</div>

<div class="main-container">

  {{!-- Show the available burgers --}}
  <section id="national-news">
    <ul id="news">
      <h2>NATIONAL NEWS</h2>
      {{#each Article}}
      <li class="newArticle">
        <span class="articles">
          <h2>{{this.title}}</h2>
          <a href="{{this.link}}" target="_blank">{{this.title}}</a>
          <p>{{this.info}}</p>
        </span>
        </li>
      {{/each}}
    </ul>
  </section>

  